/*new styles*/
.container-new, .container-new .row > div {
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.container-new .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin-left: -2.5px;
    margin-right: -2.5px;
}

.container-new .row:before, .container-new .row:after {
    display: none;
}
.top-alert {
    background: #65bc4a;
    color: #fff;
    text-align: center;
    width: 100% !important
}

.top-alert-in {
    position: relative;
    font-size: 15px;
    padding: 11px 25px;
}

.top-alert-close {
    width: 20px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 6px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    background: none;
    border: none;
    padding: 0;
}

.header-main {
    background: #fff;
    box-shadow: 0 5px 0 0 #f6f6f6;
}

.header-top {
    position: relative;
}

.z-higher {
    z-index: 105;
}

.header-top-in {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1
}

.header-top-in .search-form {
    width: calc(100% - 350px);
}

.header-top-in .search-form form input[type=search] {
    width: calc(100% - 37px);
}

.header-bottom-in {
    position: relative;
    padding: 6px 0 6px 285px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.logo {
    max-width: 93px
}

.logo a {
    display: block
}

.logo img {
    display: block;
    max-width: 100%
}

.dropdown-wrap {
    position: relative
}

.dropdown-button {
    background: none;
    border: none;
    position: relative;
    padding: 0 18px 0 0;
}

.dropdown-button:after {
    content: '';
    position: absolute;
    right: 0;
    top: -webkit-calc(50% - 2px);
    top: calc(50% - 2px);
    width: 9px;
    height: 6px;
    background: url(../images/new/arrow.svg) center no-repeat;
    transition: all .2s ease;
}

.dropdown-button.active:after {
    transform: rotate(-180deg);
}

.dropdown-button-bold {
    font-weight: 700;
}

.dropdown-button span {
    display: block
}

.dropdown-cont:not(.dropdown-cont-search) {
    width: 240px !important;
}

.dropdown-cont > .scroll-wrapper {
    padding: 0 16px 0 0 !important;
    margin: 20px 4px 20px 20px;
}

.dropdown-cont > .scroll-wrapper > .br-n-scroll:not(.scroll-wrapper) {
    padding: 0 !important;
}

.dropdown-cont > ul {
    padding: 20px;
}

.dropdown-cont:before {
    left: 30px;
}

.dropdown-cont-search {
    left: -10px;
}

.dropdown-cont-search .br-search-form {
    margin: 0 20px;
    padding-top: 2px;
}

.dropdown-cont-search .br-scroll-wrapper {
    padding: 16px 2px 20px 20px;
}

.dropdown-cont-search .br-scroll-wrapper .scroll-wrapper {
    padding-bottom: 16px !important;
}

.dropdown-cont-search .scroll-content {
    padding: 0 0 20px !important;
}

.top-menu-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.top-menu-list-item + .top-menu-list-item {
    margin-left: 30px
}

.top-menu-drop-wrap {
    margin-left: 35px;
}

.top-menu-drop-wrap .dropdown-cont {
    width: 205px !important;
    left: calc(50% - 102px);
    left: -webkit-calc(50% - 102px);
    top: calc(100% + 8px);
    top: -webkit-calc(100% + 8px);
    border-bottom: 4px solid #8cd8f2;
    border-radius: 0 0 8px 8px;
}

.top-menu-drop-wrap .dropdown-cont:before {
    left: calc(50% - 10px);
    left: -webkit-calc(50% - 10px);
}

.top-menu-drop-wrap .top-menu-more {
    padding: 2px 10px !important;
}

.top-menu-more > li {
    margin-bottom: 0;
}

.top-menu-more > li + li {
    border-top: 1px solid #f1f1f1;
}

.top-menu-more > li > button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 0 10px 0 0;
    height: 29px;
    background: none;
    border: none;
    width: 100%;
}

.top-menu-more > li > button:after {
    content: '';
    position: absolute;
    right: 0;
    top: -webkit-calc(50% - 2px);
    top: calc(50% - 2px);
    width: 9px;
    height: 6px;
    background: url(../images/new/arrow.svg) center no-repeat;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: all .2s ease;
}

.top-menu-more > li > button.active:after {
    transform: none;
}

.top-menu-more ul {
    padding: 0 0 12px !important;
    display: none;
    width: 100% !important;
}

.top-menu-more ul li {
    margin-bottom: 12px;
}

.top-menu-more ul a {
    display: block;
    font-size: 10px;
    line-height: 12px;
}

.top-menu-drop-button {
    display: block;
    position: relative;
    background: none;
    padding: 0;
    border: none;
    height: 18px;
    width: 24px;
}

.top-menu-drop-button:before, .top-menu-drop-button:after, .top-menu-drop-button span {
    position: absolute;
    top: calc(50% - 3px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #10B1E8;
    transition: all .2s ease;
}

.top-menu-drop-button:before, .top-menu-drop-button:after {
    content: '';
}

.top-menu-drop-button:before {
    left: 0;
}

.top-menu-drop-button:after {
    right: 0;
}

.top-menu-drop-button span {
    left: calc(50% - 3px);
}

.top-menu-drop-button:hover:before, .top-menu-drop-button:hover:after, .top-menu-drop-button:hover span {
    opacity: .6;
}

.top-menu-list-item.new > a span, .top-menu-list-item.new > button span {
    display: inline-block;
    position: relative;
    color: #E64A19;
}

.top-menu-list-item.new > a span:before, .top-menu-list-item.new > button span:before {
    content: '';
    position: absolute;
    left: calc(100% + 2px);
    left: -webkit-calc(100% + 2px);
    top: -3px;
    width: 22px;
    height: 8px;
    background: url("../images/new/new_red.svg") center no-repeat / 100%;
}

.lang-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.lang-menu ul li {
    font-size: 14px;
    color: #10b1e8;
    line-height: 45px;
    width: 32px;
    text-align: center
}

.lang-menu ul li.active {
    font-weight: 700;
    color: #10b1e8;
    background: #8cd8f2
}

.lang-menu ul li a {
    display: block;
    color: #bebebe
}

.lang-menu ul li a:hover {
    color: #10b1e8
}

.user-panel-button {
    display: inline-block;
    background: url(../images/new/customer.svg) left center no-repeat;
    -webkit-background-size: 14px auto;
    background-size: 14px auto;
    border: none;
    padding: 0 19px 0 24px;
    position: relative;
    text-align: left;
    line-height: 16px;
}

.user-panel-button:after {
    content: '';
    position: absolute;
    right: 0;
    top: -webkit-calc(50% - 2px);
    top: calc(50% - 2px);
    width: 9px;
    height: 6px;
    background: url(../images/new/arrow.svg) center no-repeat
}

.user-panel-button span {
    display: block
}

.main-menu-wrap {
    position: absolute;
    z-index: 102;
    left: 0;
    top: -webkit-calc(50% - 18px);
    top: calc(50% - 18px)
}

.main-menu-button {
    width: 262px;
    height: 36px;
    border: none;
    padding: 0 15px 0 47px;
    background: #27b6e7 url(../images/new/main-menu-button.svg) 15px center no-repeat;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .05em;
    text-align: left
}

.main-menu-button-md.active {
    background-image: url("../images/new/x.svg");
}

.main-menu-button-md span, .main-menu-button-md.active span:last-child {
    display: block;
}

.main-menu-button-md span:last-child, .main-menu-button-md.active span:first-child {
    display: none;
}

.with-disabled {
    position: relative;
}

.with-disabled .cover {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.disabled .main-menu-button, .main-menu-button:hover, .main-menu-button-lg.active {
    background-color: rgba(39, 182, 231, .5)
}

.disabled + .menu-outer {
    display: block !important;
}

:not(.disabled) + .menu-outer {
    display: none;
    box-shadow: none !important;
}

.menu-outer {
    position: absolute;
    left: 0;
    top: -webkit-calc(100% + 34px);
    top: calc(100% + 26px);
    width: 100% !important;
    transition: .2s all ease;
}

.menu-outer.light {
    box-shadow: 0 0 16px #27B6E7;
}

.menu-outer-icon {
    width: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.icon-second {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .2s ease;
}

.menu-outer-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 31px;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    padding: 0 12px 0 4px
}

.menu-outer > li:first-child a {
    padding-top: 3px;
}

.menu-outer > li:last-child a {
    padding-bottom: 3px;
}

.menu-outer > li:hover > a {
    background: #10b1e8;
    color: #fff
}

.menu-outer > li:hover .icon-second {
    opacity: 1;
}

.menu-outer > li:hover > a:before {
    opacity: 0
}

.menu-outer > li:hover .menu-inner-wrap {
    display: flex;
}

.menu-outer > li:last-child > a {

    border-radius: 0 0 10px 0;
}

.menu-outer > li:last-child > a:before {
    display: none
}

.menu-outer > li > a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px
}

.menu-outer > li > a:after, .menu-outer > li > a:before {
    content: '';
    position: absolute;
}

.menu-outer > li > a:before {
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.menu-outer > li > a:before {
    left: 12px;
    right: 12px;
    bottom: 0;
    height: 1px;
    background: #f1f1f1
}

.menu-outer > li > a:after {
    right: 12px;
    top: -webkit-calc(50% - 2px);
    top: calc(50% - 2px);
    width: 9px;
    height: 6px;
    background: url(../images/new/arrow.svg) center no-repeat;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.menu-outer > li:hover > a:after {
    top: -webkit-calc(50% - 4.5px);
    top: calc(50% - 4.5px);
    right: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4.5px 0 4.5px 4px;
    border-color: transparent transparent transparent #10b1e8;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background: none;
}

.menu-inner {
    padding: 20px 6px 6px 36px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    column-fill: balance;
    overflow: hidden;
}

.menu-inner > li {
    display: inline-block;
    position: relative;
    padding-left: 36px
}

.menu-inner > li:last-child {
    padding-bottom: 170px;
}

.menu-inner > li {
    margin-bottom: 14px
}

.menu-inner-wrap {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    width: 1068px;
    min-height: calc(100% + 4px);
    padding-left: 25px
}

.menu-inner-wrap-single {
    position: absolute;
    left: 0;
    top: calc(100% + 18px);
    width: 100% !important;
    padding-left: 0;
}

.menu-inner-item li {
    position: relative;
}

.menu-inner-item li.all a {
    padding-right: 14px;
    position: relative;
}

.menu-inner-item li.all a:after {
    content: '';
    position: absolute;
    right: -10px;
    top: calc(50% - 2px);
    top: -webkit-calc(50% - 2px);
    background: url("../images/new/arrow_blue.svg");
    width: 9px;
    height: 6px;
    transform: rotate(-90deg);
}

.menu-inner-item li:first-child a {
    color: #10b1e8;
    font-weight: 700
}

.menu-inner-item li + li {
    margin-top: 4px
}

.menu-inner-item span {
    position: absolute;
    left: -36px;
    top: 0
}

.menu-inner-item a {
    display: inline-block;
    line-height: 14px
}

.menu-inner-item a:hover {
    color: #10b1e8
}

.menu-inner-icon {
    position: absolute;
    bottom: 14px;
    right: 65px;
    width: 146px;
    height: 146px;
}

.menu-inner-icon img {
    width: auto;
    height: auto;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.search-form form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.search-form form input {
    height: 36px;
    border: none;
    background-color: #f1f1f1;
    padding: 0 18px
}

.search-form form input[type=search] {
    width: 389px;
    color: #919191
}

.search-form form input[type=submit] {
    width: 37px;
    background-image: url(../images/new/search-loupe.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
}

.callback-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.callback-wrap .callback-button {
    margin-bottom: 3px
}

.callback-button {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .03em;
    padding: 0 14px 0 0;
    background: none;
    border: none;
    position: relative;
    line-height: 1
}

.callback-button:after {
    content: '';
    position: absolute;
    right: 0;
    top: -webkit-calc(50% - 2px);
    top: calc(50% - 2px);
    width: 9px;
    height: 6px;
    background: url(../images/new/arrow.svg) center no-repeat
}

.callback-button.in:after {
    transform: rotate(-180deg);
}

.callback-in {
    position: absolute;
    z-index: 100;
    background: #fff;
    top: -17px;
    left: -22px;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, .2);
    padding: 17px 22px 23px !important;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
}

.callback-in.open {
    opacity: 1;
    visibility: visible;
}

.callback-in a {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .03em;
    line-height: 1
}

.callback-in-group + .callback-in-group {
    margin-top: 10px;
}

.callback-in-group div {
    color: #999;
    line-height: 15px;
}

.callback-link {
    font-size: 14px;
    line-height: 1;
    color: #10b1e8;
    padding-left: 18px;
    background: url(../images/new/phone_ringing.svg) left center no-repeat
}

.track-order-wrap {
    position: relative;
    top: 2px;
}

.track-order-button {
    background: url(../images/new/detect_order.svg) center top no-repeat;
    border: none;
    padding: 22px 0 0;
    font-size: 10px;
    line-height: 12px
}

.actions-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.actions-item + .actions-item {
    margin-left: 50px
}

.actions-button {
    padding: 1px 0 0;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.actions-button-counter {
    width: 18px;
    text-align: center;
    font-size: 15px;
    color: #aeaeae;
    margin-bottom: 7px;
}

.actions-button-text {
    font-size: 10px;
    color: #10b1e8;
}

.actions-button span {
    display: block;
    line-height: 1;
}

.actions-wish .actions-button {
    background: url("../images/new/favourite.svg") 2px top no-repeat;
}

.actions-compare .actions-button {
    background: url("../images/new/compare.svg") 5px 1px no-repeat;
}

.cart-button {
    display: block;
    padding: 0;
    width: 57px;
    height: 40px;
    position: relative;
    border: none;
    background: url("../images/new/cart_new.svg") left bottom no-repeat;
}

.cart-button span {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0;
    top: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    background: #999;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    text-align: center
}

.block-wrap {
    background: #fff;
    border-bottom: 4px solid #8cd8f2;
    -webkit-border-radius: 0 0 10px 0;
    border-radius: 0 0 10px 0
}

.body-wrap {
    padding: 18px 0 30px;
}

.banner-group {
    height: 395px;
    margin-bottom: 20px;
}

.banner-group > div {
    margin-bottom: 0;
}

.banner-group .br-banner-slider {
    margin-bottom: 0;
    height: 100%;
}

.banner-group .owl-stage-outer, .banner-group .owl-stage-outer div, .banner-group .owl-stage-outer a, .banner-group .owl-stage-outer img {
    height: 100%;
}

.banner-group .owl-stage-outer img {
    object-fit: cover;
    -o-object-fit: cover;
}

.brands-list {
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 13px 32px;
}

.brands-list a {
    display: block;
}

.brands-list a:hover {
    opacity: .8;
}

.brands-list img {
    display: block;
    max-width: 100%;
}

.slider-nav .owl-nav > div {
    position: absolute;
    top: calc(50% - 23px);
    width: 40px;
    height: 56px;
    background: #E8E8E8 url("../images/new/arrow-nav.svg") center no-repeat;
    border-radius: 8px 0 0 8px;
}

.slider-nav .owl-prev {
    left: 0;
    transform: rotate(180deg);
}

.slider-nav .owl-next {
    right: 0;
}

.br-bsliders-s .slider-nav .owl-nav > div {
    top: calc(50% - 12px);
    width: 17px;
    height: 24px;
    background-image: url("../images/new/arrow-nav-bold.svg");
    border-radius: 4px 0 0 4px;
}

.br-banner-slider .owl-nav {
    opacity: .5;
    transition: all .2s ease;
}

.br-banner-slider:hover .owl-nav {
    opacity: 1;
}

.br-banner-slider .owl-dots {
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
}

.br-banner-slider:hover .owl-dots {
    opacity: 1;
    visibility: visible;
}

.with-shadow:after, .with-shadow .header-main:after {
    content: '';
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 101;
}

.with-shadow:after {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.with-shadow .header-main:after {
    position: absolute;
    width: 100%;
    bottom: -5px;
}

.side-panel {
    transition: all .2s ease;
    position: fixed;
    z-index: 105;
    left: -100%;
    top: 0;
    background: #fff;
    width: calc(100% - 30px);
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 25px 30px 15px;
}

.side-panel.open {
    left: 0;
    z-index: 106;
}

.side-panel-button {
    width: 24px;
    height: 20px;
    position: relative;
    background: none;
    border: none;
    padding: 0;
}

.side-panel-button:before, .side-panel-button:after, .side-panel-button span {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: #10b1e8;
    position: absolute;
    left: 0;
    transition: all .2s ease;
}

.side-panel-button:before, .side-panel-button:after {
    content: '';
}

.side-panel-button:before {
    top: 0;
}

.side-panel-button:after {
    bottom: 0;
}

.side-panel-button span {
    top: calc(50% - 2px);
}

.side-panel-button:hover:before, .side-panel-button:hover:after, .side-panel-button:hover span {
    opacity: .6;
}

.side-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
    height: 22px;
    background: url("../images/new/x_black.svg") center no-repeat / 10px;
    border: none;
    padding: 0;
}

.side-close:hover {
    opacity: .6;
}

.side-panel-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 14px;
}

.side-panel-top .dropdown-cont-search {
    left: auto;
    right: 0;
    min-width: 248px;
}

.side-panel-top .dropdown-cont:before {
    left: auto;
    right: 30px;
}

.side-panel .callback-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 14px;
}

.side-panel .callback-button {
    margin-bottom: 0;
}

.side-panel .callback-in {
    padding: 10px !important;
    top: -10px;
    left: -10px;
}

.side-catalog-cont {
    display: none;
    height: 100vh !important;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 1 !important;
    z-index: 106;
    width: calc(100% - 30px);
}

.side-catalog-cont .br-nm-back-main {
    display: block !important;
}

.side-catalog-cont .br-nmc-in-main > ul > li > div {
    padding-top: 0;
}

.side-catalog-cont .br-nm-scroll {
    width: 100% !important;
}

.side-catalog-cont .br-nm-in {
    left: 0;
    width: 100%;
}

.side-catalog-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
    position: relative;
    width: 100%;
    background: #10B1E8;
    border: 1px solid #10B1E8;
    text-align: left;
    color: #fff;
    margin-bottom: 8px;
}

.side-catalog-button:hover {
    background: transparent;
    color: #344150;
}

.side-catalog-button:hover .icon-second {
    opacity: 1;
}

.side-catalog-button:after {
    position: absolute;
    transition: all .2s ease;
    content: '';
    right: 14px;
    top: calc(50% - 2px);
    width: 9px;
    height: 6px;
    transform: rotate(-90deg);
    background: url(../images/new/arrow_white.svg) center no-repeat / cover;
}

.side-catalog-button:hover:after {
    background-image: url("../images/new/arrow.svg");
}

.side-menu {
    border-bottom: 1px solid #dadada;
    padding-bottom: 22px;
    margin-bottom: 30px;
}

.side-menu > li > a, .side-menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    background: none;
    border: none;
    padding: 0 30px 0 0;
    position: relative;
    width: 100%;
}

.side-menu .new > a span, .side-menu .new .side-menu-button span {
    display: inline-block;
    position: relative;
    color: #E64A19;
}

.side-menu .new > a span:after, .side-menu .new .side-menu-button span:after {
    content: '';
    position: absolute;
    left: calc(100% + 4px);
    left: -webkit-calc(100% + 4px);
    top: -2px;
    width: 32px;
    height: 12px;
    background: url("../images/new/new_red.svg") center no-repeat / 100%;
}

.side-menu-button:after {
    position: absolute;
    transition: all .2s ease;
    content: '';
    right: 14px;
    top: calc(50% - 2px);
    width: 9px;
    height: 6px;
    transform: rotate(-90deg);
    background: url(../images/new/arrow.svg) center no-repeat / cover;
}

.side-menu-button.open:after {
    transform: none;
}

.side-menu ul {
    display: none;
    padding-bottom: 10px;
    width: 100% !important;
}

.side-menu ul li + li {
    margin-top: 17px;
}

.side-menu ul a {
    font-weight: 500;
    line-height: 15px;
    display: inline-block;
}

.side-menu ul a:hover {
    color: #10B1E8;
}

.side-panel .user-panel-wrap {
    width: 100%;
    margin-bottom: 22px;
}

.side-panel .user-panel-button {
    width: 100%;
    padding: 0 30px 0 48px;
    background-position: 4px center;
    height: 17px;
}

.side-panel .user-panel-button:after {
    right: 14px;
    transform: rotate(-90deg);
}

.side-panel .actions-list {
    display: block;
}

.side-panel .actions-item + .actions-item {
    margin: 22px 0 0;
}

.side-panel .actions-button {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px 0 48px;
    height: 18px;
    background-position: left center;
}

.side-panel .actions-button-text {
    font-size: 13px;
}

.side-panel .actions-button-counter {
    margin-bottom: 0;
    font-size: 16px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.side-panel .actions-wish .actions-button {
    background-position: 1px center;
}

.side-panel .track-order-wrap {
    margin-top: 24px;
}

.side-panel .track-order-button {
    padding: 0 0 0 48px;
    height: 16px;
    background-size: auto 100%;
    background-position: 2px center;
    font-size: 13px;
}

.shadow {
    display: none;
    position: fixed;
    z-index: 104;
    left: 0;
    top: -200px;
    width: 100% !important;
    height: calc(100vh + 200px) !important;
    background: rgba(0, 0, 0, .2);
}
.block-links {
    margin-bottom: 30px;
}

.block-links a, .block-links button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
    position: relative;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
}

.block-links a:hover, .block-links button:hover, .block-links a.active, .block-links button.active {
    background: #10b1e8;
    color: #fff;
}

.block-links a:hover:before, .block-links button:hover:before, .block-links a.active:before, .block-links button.active:before {
    display: none;
}

.block-links a:hover .icon-second, .block-links button:hover .icon-second, .block-links a.active .icon-second, .block-links button.active .icon-second {
    opacity: 1;
}

.block-links a:before, .block-links button:before, .block-links a:after, .block-links button:after {
    content: '';
    position: absolute;
}

.block-links a:after, .block-links button:after {
    right: 14px;
    top: calc(50% - 2px);
    width: 9px;
    height: 6px;
    transform: rotate(-90deg);
    background: url("../images/new/arrow.svg") center no-repeat / cover;
}

.block-links a:hover:after, .block-links button:hover:after, .block-links a.active:after, .block-links button.active:after {
    background-image: url("../images/new/arrow_white.svg");
}

.block-links li:not(:last-child) a:before, .block-links li:not(:last-child) button:before {
    left: 16px;
    right: 16px;
    bottom: 0;
    height: 1px;
    background: #dadada;
}

.block-links li:last-child a, .block-links li:last-child button {
    border-radius: 0 0 10px 0;
}

.block-link-icon {
    width: 23px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.block-link-text {
    width: calc(100% - 23px);
    -webkit-width: calc(100% - 23px);
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    padding: 15px 16px;
}
@media (max-width: 1354px) {
    .br-row-top{
        height: auto;
    }
    .menu-outer {
        top: calc(100% + 25px);
    }

    .menu-inner-icon {
        bottom: 25px;
        right: 65px;
    }

    .menu-inner {
        padding: 20px 20px 6px;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    .menu-inner-wrap {
        width: 744px;
    }

    .top-menu-list-item button {
        padding-right: 16px;
    }

    .top-menu-list-item + .top-menu-list-item {
        margin-left: 20px;
    }

    .banner-group .br-slider-outer {
        height: 394px;
        padding-right: 0;
    }

    .main-menu-button {
        width: 243px;
    }

    .header-bottom-in {
        padding: 6px 0 6px 267.5px;
    }

    .header-bottom-in .search-form {
        width: 272px;
    }

    .header-bottom-in .search-form form input[type=search] {
        width: calc(100% - 37px);
    }

    .actions-item + .actions-item {
        margin-left: 16px;
    }

    .brands-list {
        padding: 13px 10px;
    }

    .brands-list-item.lenovo {
        width: 91px;
    }

    .brands-list-item.panasonic {
        width: 109px;
    }

    .brands-list-item.samsung {
        width: 58px;
    }

    .brands-list-item.mi {
        width: 29px;
    }

    .brands-list-item.vinga {
        width: 91px;
    }

    .brands-list-item.eneloop {
        width: 73px;
    }

    .brands-list-item.doogee {
        width: 123px;
    }
}

@media (max-width: 1011px) {
    .top-alert-close {
        height: 42px;
        top: 0;
    }

    .top-alert-in {
        font-size: 13px;
        padding: 12px 20px;
    }

    .menu-inner {
        padding: 20px 6px 6px;
    }

    .header-bottom-in .search-form {
        display: none;
    }

    .header-bottom-in {
        padding: 15px 0;
    }

    .user-panel-wrap {
        width: 175px;
    }

    .header-top-in {
        padding: 3px 0;
    }

    .main-menu-wrap {
        position: relative;
        top: 0;
    }

    .banner-group.br-row-top {
        margin-bottom: 0;
    }

    .banner-group .br-slider-outer, .banner-group .br-banner-slider {
        height: auto !important;
    }
}

@media (max-width: 766px) {
    .header-top-in .logo, .header-top-in .user-panel-wrap, .header-bottom {
        display: none;
    }

    .header-top-in {
        padding: 13px 0 16px;
        border-bottom: none;
    }

    .header-top-in .search-form {
        width: calc(100% - 106px);
    }

    .header-top-in .cart {
        position: relative;
        top: -3px;
    }

    .slider-nav .owl-nav > div {
        width: 17px;
        height: 24px;
        border-radius: 4px 0 0 4px;
        background-image: url("../images/new/arrow-nav-bold.svg");
    }
}

@media (max-width: 359px){
    .side-panel, .side-catalog-cont {
        width: 100%;
    }
}
@media (min-width: 1355px) {
    .dropdown-location {
        margin-right: 100px;
    }

    .header-top-in .lang-menu {
        margin-left: 121px;
    }
}

@media (min-width: 1012px) {
    .header-top-in .search-form, .menu-inner-wrap-single, .side-panel-button, .side-panel {
        display: none !important;
    }
}

@media (min-width: 767px) {
    .header-top-in .cart {
        display: none !important;
    }
}

@media (min-width: 360px) and (max-width: 766px) {
    .container-new {
        width: 100% !important;
        padding-left: 16px;
        padding-right: 16px;
    }

    .container-new .row:not(.product-cards) {
        margin-left: -16px;
        margin-right: -16px;
    }

    .container-new .row:not(.product-cards) > div:not(.sidebar-wrap) {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .br-slider-outer {
        margin: 0 -13px;
        width: calc(100% + 26px) !important;
    }
}

/*new styles end*/